// Reset Stylings
.card-header,.card-header:first-child, .accordion > .card > .btn, button{
    background-color: transparent;
    margin: 0;
    border: 0;
    border-radius: 0;
    text-decoration: none;
}


.accordion button {
    border: 0;
    margin:0;
    padding:0;
    text-decoration:none
}

.list-group-item, .list-group-item.active {
    border: 0;
    margin-bottom: 0;
    color: $white;
}

// Accordion cosmetics

.accordion{

  h3, h4, h5, h6{
    font-family: $fPrimary;
    margin-bottom: 5px;
  }
  h2{font-size:0.8rem;}
  h3, h4, h5, h6, p{font-size: 0.8rem;}
  h5{font-family: $fPrimaryBold; color: $cPrimaryDark;}
  h6{color: $cPrimaryBright;}
  h2{
    color: $cPrimaryDark;
    transition: all 0.5s;
    margin-bottom: 0.3rem;
  }
}

.timeline-bullets{
  li, p{color: $cPrimary;}
}

.portfolio-accordion{
  .card{
    &:hover{

      h2{color: $cAccent;}
      .tags{color: $cBgLight}
      .project-details{
        background: $cPrimaryDark;
      }
    }
  }
  .project-details{
    padding: 10px 20px;
    background: $cBgDark;
    width: 100%;
    transition: all 0.5s;
  }
  .tags{
    color: $cPrimary;
    font-size: 0.6rem;
    transition: all 0.5s;
  }
}

// Sidebar cosmetics

.portfolio-trigger {
     color:$cPrimary;
     text-decoration:none;
     opacity: 0.7;
     background: transparent;
     padding: 0.2rem 1.25rem;
     cursor: pointer;

     font-size:.8rem;

     &.active, &:hover{
       opacity: 1;
       background: transparent;
     }

     &.active, &.active:hover{
       color:$cPrimaryDark;
       font-family:$fPrimaryBold;
     }

     &:hover{
       color:$cPrimaryDark;
     }

     @media only screen and (max-width: 991px) {
       font-size:.8rem
     }

}

.sidebar{
  position: sticky;
  top: 90px;
}



// Accordion cosmetics

.accordion{
  .card *, .card-body *, .card-header *{
    &:focus, &:active, &:hover, &:visited, &:focus-within{
      border: none;
      outline: none;
      filter: none;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) ;
    }
  }
}

.accordion  {
  a{
    transition: 0.3s;
    &:hover{
      // color: $cAccent;
      transition: 0.3s;
    }
  }
  .card-body{
    background: transparent;
    padding: 0rem;
    border-radius: 0.5rem;
    color: $cPrimary;
  }
  .card-header {
    padding: 0;
    cursor: default;
    // img{
    //   width: 65%;
    //   margin: auto;
    // }
    h2{
      color: $cPrimaryDark;
      font-family: $fBrush;
    }
  }
  .card{
    margin: 0 0 1rem 0;
    border: none;
    background-color: transparent;
    border-radius: 0;
    opacity: 0.8;
    &.active, &:hover{
      opacity: 1
    }
  }
  .card-header:hover, .btn-link:hover {
       text-decoration: none;
  }
}

@media only screen and (min-width: 350px) {
  .accordion{
    h2{
      font-size:0.9rem;
    }
  }
}

@media only screen and (min-width: 576px) {
  .accordion{
    h3, h4, h5, h6, p{font-size: 0.9rem;}
    .card-header {
      img{
        width: 55%;
      }
    }
    h2{
      font-size:1.1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .accordion{
    h3, h4, h5, h6, p{font-size: 0.95rem;}
  }
}

@media only screen and (min-width: 992px) {
  .accordion{
    h3, h4, h5, h6, p{font-size: 1rem;}
    .card{
    margin: 0 0 2rem 0;
    }
  }
}
