body{
  background: linear-gradient(0deg, $darkRed 0%, $red 90%);
  min-height: 100vh;
}

.bg-red-black{
  background: linear-gradient(90deg, $black 0%, $darkRed 50%, $red 100%);
}

.bg-darkRed-red{
  background: linear-gradient(0deg, $darkRed 0%, $red 100%);
}

.bg-darkRed-red-90{
  background: linear-gradient(90deg, $darkRed 0%, $red 100%);
}

.bg-darkRed-black{
  background: linear-gradient(180deg, $darkRed 0%, $black 100%);
  min-height: 20rem;
}

.first-section{
  margin-top: 1rem;
}

.bg-black{
  background-color: rgba(0, 0, 0, 0.5);
}

#particles-js{
  position: fixed;
  height: 100%;
  width: 100%;
}

.bg-vitagen{
  background: url("../images/portfolio/vitagen-social/Vitagen-BG.png");
}

.bg-ho-bee{
  background: url("../images/portfolio/ho-bee-land/bg-ho-bee@2x.png");
}

.bg-wwf{
  background: linear-gradient(90deg, #d9fcff 0%, #96d8ff 100%);
}

.bg-eden{
  background: url("../images/portfolio/eden-group/EDEN_BG.png");
  background-size: 100%;
}

.bg-stt{
  background: url("../images/portfolio/stt/STT_BG.png");
  background-size: 100%;
}

.bg-dino{
  background: url("../images/portfolio/cosmo-dinos/Dino_BG.png");
  background-size: 100%;
}

.bg-muay-thai-burger{
  background: url("../images/portfolio/muay-thai-burger/Muay-Thai-Burger_BG@2x.jpg");
  background-size: 100%;
}

.bg-wolfpack{
  background: url("../images/portfolio/wolfpack/Wolfpack_BG@2x.png");
  background-size: 100%;
}

.bg-scientist{
   background: url("../images/portfolio/the-scientist/Scientist_BG.png");
}

.bg-red-cross{
   background-color: #E84C63;
}

.bg-uob-quiz{
  background: url("../images/portfolio/uob-brand-quiz/UOB-Quiz-BG@2x.png"), #e9e4e0;
  background-repeat: no-repeat;
}

.iphone-x {
  background-attachment: scroll;
}
