// reset

[type=button]{
  -webkit-appearance: unset!important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(246, 166, 219,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler {
    border: 0;
}


#mainNav, .main-menu{z-index: 1019;}

// styles

.logo-link{
  .logo-container{
    width: 100%;
    display: flex;
    align-items: center;
    .logo, .logo-txt{
      display: block;
      float: left;
    }
    .logo{
      height: 45px;
      width: auto;
    }
    .logo-txt{
      margin-left: 20px;
      font-family: $fPrimaryBold;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      white-space: nowrap;
    }
  }
}



@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
      &:last-child{
        padding-right: 0;
      }
  }
}



.main-menu{
  .container{
    padding-right: 15px;
    padding-left: 15px;
  }
  background: transparent;
  z-index: 999;
  position: sticky;
  top: 0;
  padding: 0.6rem 0;
  transition: all 0.5s;

  &.scrolled{
    background: $cPrimaryDark;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    .logo-txt, .nav-item.active .nav-link{
      background: linear-gradient(90deg, rgb(246, 166, 219) 0%, rgb(233, 239, 255) 100%);
      -webkit-background-clip: text;
    }
     .nav-item .nav-link{
       color: $cBgLight;
       &:hover{color: $white;}
     }
  }

  .nav-item{
    margin: 0;
    font-size: 1rem;
    .nav-link{
      color: $cPrimary;
      text-align: center;
      opacity: 0.5;
      height: 100%;
      transition: all 0.5s;
      &:hover {
        color: $cPrimaryBright;
        opacity: 1;
      }
    }
    &.active .nav-link{
      font-family: $fPrimaryBold;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
  }

  .navbar-toggler {
    padding: .25rem 0 .25rem .75rem;}

}

.navbar-nav{
  padding-top: 0;

  li a{
    padding:1rem 1rem;

    @media all and (min-width: 992px) {
      padding:0 1rem;
    }
  }
}

.modal {
    padding-right: 0px !important;
}
