$sgRed: #fd5b47;
$sgOrange: #fca103;
$sgYellow: #f5cf14;
$sgGreen: #c6d147;
$sgBlue: #79b5db;
$sgPurple: #b094d4;

.bg-sg-red{background: $sgRed;}
.bg-sg-orange{background: $sgOrange;}
.bg-sg-yellow{background: $sgYellow;}
.bg-sg-green{background: $sgGreen;}
.bg-sg-blue{background: $sgBlue;}
.bg-sg-purple{background: $sgPurple;}

.bg-hello-sg{
   background: url("../images/portfolio/hello-sg/bg-white@2x.png")!important;
   *{color: $grey;}
}

.bg-hello-sg-red{
   background: url("../images/portfolio/hello-sg/bg-red@2x.png")!important;
   *{color: $grey;}
}

.legend-2{
  text-align: left;
  .legend-2-color{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  .legend-2-num{
    font-family: $fPrimaryBold;
  }
}

.counter{
  width: 25px;
  height: 25px;
  border: 2px solid $sgRed;
  border-radius: 100%;
  display: inline-block;
  margin-right: 8px;
  @media all and (min-width: 576px) {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
}

.counter-fill{
  background-color: $sgRed;
}

.hello-sg h3{
  color: $sgRed;
}

.hello-sg{
  .highlight{
    color: white;
    background: $sgRed;
    width: fit-content;
    padding: 0.3rem 0.8rem;
  }
  .phone-container{
    width: 100%;
    margin: 0;
    @media all and (min-width: 420px) {
      width: 80%;
    }
    @media all and (min-width: 490px) {
      width: 70%;
    }
    @media all and (min-width: 576px) {
      width: 100%;
    }
  }

  .portfolio-trigger{
    &:hover{
        color: $cAccent;
    }
    &.active, &.active:hover{
        color: $sgRed;
    }
  }
}

// PIE CHARTS

.hello-sg{
  #pie1{
    .pieSlice1{
      .pie{
        transform: rotate(calc(360deg / 100 * 5.7));
      }
    }
    .pieSlice2{
      transform: rotate(calc(360deg / 100 * 5.7));
      .pie{transform: rotate(calc(360deg / 100 * 19.6));}
    }
    .pieSlice3{
      transform: rotate(calc(360deg / 100 * (5.7 + 19.6)));
      .pie{transform: rotate(calc(360deg / 100 * 25.2));}
    }
    .pieSlice4{
      transform: rotate(calc(360deg / 100 * (5.7 + 19.6 + 25.2)));
      .pie{transform: rotate(calc(360deg / 100 * 15.9));}
    }
    .pieSlice5{
      transform: rotate(calc(360deg / 100 * (5.7 + 19.6 + 25.2 + 15.9)));
      .pie{transform: rotate(calc(360deg / 100 * 24.3));}
    }
    .pieSlice6{
      transform: rotate(calc(360deg / 100 * (5.7 + 19.6 + 25.2 + 15.9 + 24.3)));
      .pie{transform: rotate(calc(360deg / 100 * 9.3));}
    }
  }

  #pie2{
    .pieSlice1{
      .pie{
        transform: rotate(calc(360deg / 100 * 0.9));
      }
    }
    .pieSlice2{
      transform: rotate(calc(360deg / 100 * 0.9));
      .pie{transform: rotate(calc(360deg / 100 * 20.6));}
    }
    .pieSlice3{
      transform: rotate(calc(360deg / 100 * (0.9 + 20.6)));
      .pie{transform: rotate(calc(360deg / 100 * 50));}
    }
    .pieSlice4{
      transform: rotate(calc(360deg / 100 * (0.9 + 20.6 + 50)));
      .pie{background-color: $sgYellow;transform: rotate(calc(360deg / 100 * 28.5));}
    }
  }

}
