.about-accordion{

  padding-left: 0rem;

  @media screen and (min-width:992px) {
      padding-left: 2.5rem;
  }

  .timeline-text-content {
    padding-left: 50px;
    ul{
      padding-left: 18px;
      color: $cPrimaryBright;
      padding-bottom: 10px;
      li{
          list-style-type: disc;
          overflow: unset;
          padding: 0;
          margin: 0;
      }
    }
  }
}

.about-timeline{
  .v-timeline{
      margin-top: 30px;
      padding: 0;
      ul{
          position: relative;
      }
      li{
          list-style-type: none;
          padding: 0 0 30px;
          position: relative;
          overflow: hidden;
      }
      .v-timeline-icon{
        &:before{
          content: ' ';
          height: 15px;
          position: absolute;
          top: 0px;
          left: 0;
          width: 15px;
          border-radius: 50%;
          background: $cPrimary;
          border: 2px solid $cPrimary;
        }
          &:after {
              content: ' ';
              border-left: 2px solid $cPrimary;
              display: inline-block;
              position: absolute;
              left: 6px;
              height: 500px;
              z-index: 400;
              top: 15px;
          }
          &.v-last{
              &:before{
                  background: $cPrimary;
              }
              &:after{
                  border-left: 2px solid $cPrimary;
              }
          }

          &.v-empty{
              &:before{
                  background: none;
              }
          }
      }
      .timeline-text{
        padding-left: 40px;
      }
  }
}

.about{
  .accordion{
    .card-body{
      padding: 2.25rem 3rem 4rem;
      border-radius: 0;
      border-bottom: 1px solid $cBgDark;

    }

    &:last-child{
      border: none;
    }

    h2{
      font-size: 2rem;
      padding-top: 1rem;
    }
  }
  li.col{
    margin-bottom: 0;
  }
}

.progress {
    background-color: transparent;
    border-radius: 0rem;
    border: 1px solid $cPrimaryBright;
    height: 1.1rem;
    margin-bottom: 30px;
}

.progress-bar {
    background-color: $cPrimaryBright;
}
